body {
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-weight: bolder;
font-size: large;
display:inline-block;
margin:auto;
text-align: justify;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
  }
  
h1 {
    color: blue;
}
#data-container{
    color:black;
    display: inline-block;
    margin:auto;
    text-align: center;
    display: grid;
    display: none;
    grid-template-columns: auto auto auto;
    padding: 10px;
   
}
button {
    background-color: #4CAF50 !important;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }
#success-message-{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger
  }